<mat-form-field>
  <mat-label>Changelog</mat-label>
  <mat-select (selectionChange)="changeDependencyTree($event.value)">
    <mat-option *ngFor="let id of database.changelogIds" [value]="id">
      {{id}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <input #searchField matInput placeholder="Search" (input)="filterChanged($event) ">
</mat-form-field>

<button mat-button [matMenuTriggerFor]="searchFilterMenu">Add Search Scope</button>
<mat-menu #searchFilterMenu="matMenu">
  <button mat-menu-item (click)="searchFilterSelected(FilterType.Package)">Package scope</button>
  <button mat-menu-item (click)="searchFilterSelected(FilterType.Class)">Class scope</button>
  <button mat-menu-item (click)="searchFilterSelected(FilterType.Method)">Method scope</button>
  <button mat-menu-item (click)="searchFilterSelected(FilterType.Dependency)">Dependency scope</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="displayOptions">Change View Mode</button>
<mat-menu #displayOptions="matMenu">
  <button mat-menu-item (click)="changeDisplayOption(DisplayOption.Standard)">Standard</button>
  <button mat-menu-item (click)="changeDisplayOption(DisplayOption.CompactMiddlePackages)">Compact Middle Packages
  </button>
  <button mat-menu-item (click)="changeDisplayOption(DisplayOption.FlattenPackages)">Flatten Packages</button>
</mat-menu>

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
    <button mat-icon-button disabled></button>
    <div matTooltipClass="tooltip" matTooltip="{{node.path}}" class="nodeItem">
      <strong
        [ngClass]="{
          'labelGreen': node.label.startsWith('+'),
          'labelRed': node.label.startsWith('-')
         }"
      >{{node.label}}: &nbsp; </strong> {{node.name}}
    </div>
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.filename">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <div matTooltipClass="tooltip" matTooltip="{{node.path}}" class="nodeItem">
      <strong>{{node.label}}: &nbsp; </strong> {{node.name}}
    </div>
  </mat-tree-node>
</mat-tree>

